@()
<footer class="w3-container w3-padding-32 w3-white">
  <div class="w3-row-padding">
    <div class="w3-third">
      <h3>FOOTER</h3>
      <p>This web app was created by Fabio Pinheiro, as a way to learn Scala. For more information contact me by email: "@configurations.WebSiteDesigner.Email"</p>
      <p>The code will be open source on my <a href="@configurations.WebSiteDesigner.Bitbucket" target="_blank">Bitbucket</a> page.</p>
    </div>

    <div class="w3-third">
      <h3>BLOG POSTS</h3>
      <ul class="w3-ul w3-hoverable">
        <li class="w3-padding-16">
          <img src="@routes.Assets.versioned("images/logo.jpg")" class="w3-left w3-margin-right" style="width:50px">
          <span class="w3-large">Esmeralda</span><br>
          <a target="_blank" href="http://atelierenxoval.blogspot.pt" class="w3-hover-text-indigo w3-show-inline-block">
            <span>http://atelierenxoval.blogspot.pt</span>
          </a>
        </li>
        <li class="w3-padding-16">
          <img src="@routes.Assets.versioned("images/logo.jpg")" class="w3-left w3-margin-right" style="width:50px">
          <span class="w3-large">Artes e Brincadeiras</span><br>
          <a target="_blank" href="http://artesbrin.blogspot.pt" class="w3-hover-text-indigo w3-show-inline-block">
            <span>http://artesbrin.blogspot.pt</span>
          </a>
        </li>
      </ul>
    </div>

    <div class="w3-third">
      <h3>POPULAR TAGS</h3>
      <p>
        <span class="w3-tag w3-black w3-margin-bottom">Baby</span>
        <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Ideas</span>
        <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">News</span>
        <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Clothing</span>
        <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Shopping</span>
      </p>
    </div>

  </div>
</footer>
