@(thisPage:String)
<header class="w3-container w3-bottombar">
  <a href="#"><img src='@routes.Assets.versioned("images/logo.jpg")' style="width:70px;" class="w3-circle w3-right w3-margin w3-hide-large w3-hover-opacity"></a>
  <span class="w3-opennav w3-hide-large w3-xxlarge w3-hover-text-grey" onclick="w3_open()"><i class="fa fa-bars"></i></span>
  <h1><b>@thisPage.toUpperCase()</b></h1>
</header>

