@()
<iframe
 src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3185.3243275914483!2d-7.927383049442841!3d37.02591257980395!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd0552d1eab45f3f%3A0xff0afd1c3d96a572!2sFabymar!5e0!3m2!1sen!2spt!4v1474806541600"
 width="95%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
@*
<style>#map {width: 100%;height: 400px;background-color: grey;}</style>
<div id="map"></div>
<script>
  function initMap() {
    var uluru = {lat: -25.363, lng: 131.044};
    var map = new google.maps.Map(document.getElementById('map'), {zoom: 4,center: uluru});
    var marker = new google.maps.Marker({position: uluru,map: map});
  }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?callback=initMap"></script>
*@
