@(thisPage:String,pagesList: List[String])


<nav class="w3-sidenav w3-collapse w3-white w3-animate-left" style="z-index:3;width:250px;" id="mySidenav"><br>
  <div class="w3-container">
    <a href="#" onclick="w3_close()" class="w3-hide-large w3-right w3-jumbo w3-padding" title="close menu">
      <i class="fa fa-remove"></i>
    </a>
    <img src='@routes.Assets.versioned("images/logo.jpg")' style="width:45%;" class="w3-circle w3-border"><br><br>
    <h3 class="w3-padding-0"><b>Fabymar</b></h3>
    <p class="w3-text-grey">Atelier Enxoval de Batizado</p>
  </div>
  @for(p <- pagesList) {
  @if(p == thisPage) {
  <a href="/@p" class="w3-padding w3-text-teal">@p.toUpperCase()</a>
  } else {
  <a href="/@p" class="w3-padding">@p.toUpperCase()</a>
  }
  }

  <div class="w3-section w3-padding-top w3-large">
    <a target="_blank" href="@configurations.WebSiteOwner.Facebook" class="w3-hover-white w3-hover-text-indigo w3-show-inline-block"><i class="fa fa-facebook-official"></i></a>
    <!--a target="_blank" href="#" class="w3-hover-white w3-hover-text-red w3-show-inline-block"><i class="fa fa-pinterest-p"></i></a>
    <a target="_blank" href="#" class="w3-hover-white w3-hover-text-light-blue w3-show-inline-block"><i class="fa fa-twitter"></i></a>
    <a target="_blank" href="#" class="w3-hover-white w3-hover-text-grey w3-show-inline-block"><i class="fa fa-flickr"></i></a-->
    <a target="_blank" href="@configurations.WebSiteOwner.LinkedIn" class="w3-hover-white w3-hover-text-indigo w3-show-inline-block"><i class="fa fa-linkedin"></i></a>
  </div>
</nav>
<!-- Overlay effect when opening sidenav on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity"
     onclick="w3_close()" style="cursor:pointer"
     title="close side menu" id="myOverlay">
</div>
<script>
// Script to open and close sidenav
function w3_open() {
    document.getElementById("mySidenav").style.display = "block";
    document.getElementById("myOverlay").style.display = "block";
}

function w3_close() {
    document.getElementById("mySidenav").style.display = "none";
    document.getElementById("myOverlay").style.display = "none";
}
</script>
