@()
<div id="idDisplay" class="fp-modal fp-background" align="center">
  <!--div class="fp-background" onclick="document.getElementById('idDisplay').style.display='none'"></div-->
  <div class="fp-flex-container-column fp-80p" align="center">
    <span onclick="document.getElementById('idDisplay').style.display='none'" class="fp-flex-item-1pp fp-closebtn"></span>
    <div id="idDisplayContent" class="fp-flex-item-1pp fp-item">
      <p>This is removed!</p>
    </div>
  </div>
</div>

<div id="modelsData-products" class="fp-flex-container">
  <script>
  fmgp.getModels(contentUrl="/models/product",appendTo="modelsData-products", printFunction=fmgp.str.Product.displayLayout);
  var item = { "_id" : "ADD", "name" : "Somename", "model" : "SomeModel", "description" : "Some description", "category" : "SomeCategory",
     "theme":"admin",
    "images" : [ { "type" : "link", "link" : "https://cdn2.iconfinder.com/data/icons/ios-7-tab-bar-icons/500/plus-512.png" } ] }
  document.getElementById("modelsData-products").append(fmgp.str.Product.displayLayout(item))
  </script>
</div>

<!-- Pagination -->
<!-- div class="w3-center w3-padding-32">
  <ul class="w3-pagination">
    <li><a class="w3-black" href="#">1</a></li>
    <li><a class="w3-hover-black" href="#">2</a></li>
    <li><a class="w3-hover-black" href="#">3</a></li>
    <li><a class="w3-hover-black" href="#">4</a></li>
    <li><a class="w3-hover-black" href="#">»</a></li>
  </ul>
</div -->