@(user: models.User)(implicit request: RequestHeader, messages: Messages, webJarAssets: WebJarAssets)


@main("admin", Some(user)) {
<div class="w3-container">
  <h4>@Messages("welcome.signed.in")</h4>
  <h4>This is the admin page.</h4>
    <img src="@user.avatarURL.getOrElse(routes.Assets.versioned("images/silhouette.png"))" height="100px" />
  <hr class="col-md-12" />
</div>
<div class="w3-container">
<p><strong>@Messages("first.name"):</strong> @user.firstName.getOrElse("None")</p>
<p><strong>@Messages("last.name"):</strong> @user.lastName.getOrElse("None")</p>
<p><strong>@Messages("full.name"):</strong> @user.fullName.getOrElse("None")</p>
@request.headers.headers.map{ case (a,b) =>
<p><strong>@a:</strong> @b</p>
}
</div>
}
