@(thisPage: String, user: Option[models.User] = None)
@*(implicit request: RequestHeader, messages: Messages, webJarAssets: WebJarAssets)
"(thisPage:String)(content: Option[Html] = None)"*@

@main(thisPage, user) {
  @thisPage match {
    case "home" => {
      <div class="w3-container">
        <p>Home content</p>
        <p>TODO part of the content displayed here will be dynamic</p>
      </div>
    }
    case "about" => {
      <div class="w3-container">
        <p>Contact about (static)</p>
        <p>Tell a history</p>
      </div>
    }
    case "shop" => {
      @views.html.partials.header_shop_filter()
      <div class="w3-container">
        @views.html.partials.shop_content()
        <!-- End page content -->
      </div>
    }
    case "contact" => {
      <div class="w3-container">
        <p>Fabymar – de Esmeralda Pinheiro</p>
        <p>Estrada da Penha nº 134 loja B – Penha</p>
        <p>8005-137 Faro</p>
        <p></p>
        Coordenadas GPS
        https://goo.gl/maps/k3etRDtiWdR2
        Contacte-nos (Formulário de Contacto)
        <p></p>
        <p>Telefone</p>
        <p>+ 351 289863763</p>
        <p></p>
        <p>E-Mail</p>
        <p>Esmeralda.pinheiro@@gmail.com</p>

        <p>@views.html.partials.map()</p>
      </div>
    }
    case "user" => {
      @user.map { u =>
        <div class="w3-container">
          <h4 class="col-md-8">This is the User page.</h4>
          <div class="col-md-4 text-right">
            <img src="@u.avatarURL.getOrElse(routes.Assets.versioned("images/silhouette.png"))" height="100px" />
          </div>
          <hr class="col-md-12" />
          <div class="row data">
            <div class="col-md-12">
              <div class="row">
                <p class="col-md-6"><strong>
                  First name:</strong></p><p class="col-md-6">@u.firstName.getOrElse("None")</p>
              </div>
              <div class="row">
                <p class="col-md-6"><strong>
                  Last name:</strong></p><p class="col-md-6">@u.lastName.getOrElse("None")</p>
              </div>
              <div class="row">
                <p class="col-md-6"><strong>
                  Full name:</strong></p><p class="col-md-6">@u.fullName.getOrElse("None")</p>
              </div>
            </div>
          </div>
        </div>
      }
    }
    case "map" => {
      <div class="w3-container">
        <p>Admin content (static)</p>
        <div>
        @for(p <- List(
          "/assets/$file",
          "/admin/models",
          "/admin/users",
          "/admin/products",
          "/admin/image",
          "/models/user",
          "/models/product",
          "/models/image",
          "/models/imageFile",
          "/models/command",
          "/welcome",
          "/",
          "/home",
          "/about", "/shop",
          "/contact",
          "/show/page")) {
          <p><a href="@p" class="w3-padding w3-text-teal">@p.toUpperCase()</a></p>
        }
        </div>
      </div>
    }
    case _ => {
      <div class="w3-container">
        <p>I think something is missing here!</p>
        <P>To bad!</P>
      </div>
    }
  }
}