@(socialProviders: com.mohiva.play.silhouette.impl.providers.SocialProviderRegistry)(implicit request: RequestHeader, messages: Messages, webJarAssets: WebJarAssets)

@import com.mohiva.play.silhouette.impl.providers.oauth2.ClefProvider
@import b3.inline.fieldConstructor

@main("user",None) {
<fieldset class="col-md-6 col-md-offset-3">
  <legend>@Messages("sign.in.credentials")</legend>
  @if(socialProviders.providers.nonEmpty) {
    <div class="social-providers">
      @for(p <- socialProviders.providers if p.id != "clef") {
      <a href="@routes.SocialAuthController.authenticate(p.id)" class="provider @p.id" title="@Messages(p.id)"><img src="@routes.Assets.versioned(s"images/providers/${p.id}.png")" width="64px" height="64px" alt="@Messages(p.id)"></a>
      }
      @defining(socialProviders.get[ClefProvider]) { clef =>
        @if(clef.isDefined) {
          <script type="text/javascript" src="https://clef.io/v3/clef.js" class="clef-button" data-app-id="@clef.get.settings.clientID" data-color="blue" data-style="flat" data-redirect-url="@clef.get.settings.redirectURL" data-type="login"></script>
        }
      }
    </div>
  }
</fieldset>
}
