@()
@*<script src='@routes.Assets.versioned("javascripts/jquery-3.0.0.min.js")' type="text/javascript"></script>*@
<script src='@routes.Assets.versioned("javascripts/fp.js")' type="text/javascript"></script>