@()
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="keywords" content="Scala, Play">
<meta name="description" content="This website was created by Fabio Pinheiro (fabiomgpinheiro@@gmail.com)"
<--! ##########################################################################
### This website was created by Fabio Pinheiro (fabiomgpinheiro@@gmail.com) ###
### I will eventually open source the code, contact me for more information ###
### If you fine BUGS ** plz contact me                                      ###
### DatLake / DataBase used to kept the data is MongoDB                     ###
### Back End Engine build using Scala with the Play Framwork                ###
### Client Side was build on top of pure: Html+JavaScript+CSS               ###
########################################################################### -->
<meta name="author" content="Fabio Pinheiro">


