/* Made by Fabio Pinheiro fabiomgpinheiro@gmail.com*/

@import 'mixinsFlexbox';

.fp-flex-wrapper {
  @include flexbox();
  @include flex-flow(row,wrap);
  font-weight: bold;
  text-align: center;
}

.fp-flex-wrapper > * {padding: 10px;flex: 1 100%;}
.fp-flex-header {background: tomato;}
.fp-flex-footer {background: lightgreen;}
.fp-flex-main {text-align: left;background: deepskyblue;}
.fp-flex-aside-1 {background: gold;}
.fp-flex-aside-2 {background: hotpink;}
@media all and (min-width: 600px) {
  .fp-flex-aside { flex: 1 auto; }
}
@media all and (min-width: 800px) {
  .fp-flex-main    { flex: 3 0px; }
  .fp-flex-aside-1 { order: 1; }
  .fp-flex-main    { order: 2; }
  .fp-flex-aside-2 { order: 3; }
  .fp-flex-footer  { order: 4; }
}
body {padding: 0em;}
