/* Made by Fabio Pinheiro fabiomgpinheiro@gmail.com*/

//div {@include flexbox();}
//div {@include flex(1, 2);}
//div {@include flex-order(3);}
//div {@include flex-direction(column);}

@mixin flexbox{
  display: -webkit-box; // old
  display: -moz-box; // old
  display: -ms-flexbox; // ie
  display: -webkit-flex; // new
  display: flex; // new
}

@mixin flex($values) {
  -webkit-flex: $values;
  -webkit-box-flex: $values;
  -moz-box-flex: $values;
  -ms-flex: $values;
  flex:  $values;
}

@mixin flex-order($val) {
  -webkit-box-ordinal-group: $val;
  -moz-box-ordinal-group: $val;
  -ms-flex-order: $val;
  -webkit-order: $val;
  order: $val;
}

@mixin flex-direction($direction){
  @if $direction == column{
    -webkit-flex-direction: vertical;
    -moz-flex-direction: vertical;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
  }
  @else{
    -webkit-flex-direction: horizontal;
    -moz-flex-direction: horizontal;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
  }
}

@mixin flex-flow($direction: column, $type: nowrap){ //nowrap|wrap|wrap-reverse
  -webkit-flex-flow: $direction $type;
  flex-flow: $direction $type;
}
@mixin flex-wrap($type: wrap){ //nowrap|wrap|wrap-reverse
  -webkit-flex-wrap: $type;
  flex-wrap: $type;
}
@mixin justify-content($type: flex-start){ //flex-start|flex-end|center|space-between|space-around
  -webkit-justify-content: $type;
  justify-content: $type;
}
@mixin align-items($type: stretch){ //stretch|flex-start|flex-end|center|baseline
  -webkit-align-items: $type;
  align-items: $type;
}
@mixin align-self($type: wrap){ //stretch|flex-start|flex-end|center|baseline
  -webkit-align-self: $type;
  align-self: $type;
}





.wrapper {
  @include flexbox();
}

.item {
  @include flex(1 200px);
  @include flex-order(2);
}
