/* Made by Fabio Pinheiro fabiomgpinheiro@gmail.com*/


//div {margin:5em;@include break-point(mobile){margin:2em;}}
//break-point: default|mobile|minitablet|tablet|desktop

@mixin break-point($point: default){
  @if $point == minitablet{
    @media only screen and (min-width:401px){
      @content;
    }
  }
  @else if $point == tablet{
    @media only screen and (min-width:601px){
      @content;
    }
  }
  @else if $point == desktop{
    @media only screen and (min-width:993px){
      @content;
    }
  }
  @else {@content;} //default or mobile
}
