@import url("font-awesome.min.css");
/*import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Raleway:400,800,900");*/
/*@import url(w3.css);*/

/* FABIO PINHEIRO CSS -> fabiomgpinheiro@gmail.com */

@import 'mixinsFlexbox';
@import 'flexLayout';
@import 'mixinsFabio';





.fp-hide{display:none;}
.fp-show-hover:hover > *:last-child {display:block;}
/*"document.getElementById('id01').style.display='block'"*/

@mixin fp-flex-container($direction: column, $type: nowrap){ //row wrap //column nowrap
  @include flexbox(); //display: flex;display: -webkit-flex;
  //@include flex-direction($direction); //flex-direction: row;-webkit-flex-direction: row;
  //@include flex-wrap($type) //flex-wrap: wrap;-webkit-flex-wrap: wrap;
  @include flex-flow($direction, $type)
  @include justify-content(space-around) //justify-content: space-around;-webkit-justify-content: space-around;
  //@include align-items(stretch) //align-items: stretch;-webkit-align-items: stretch;
  //align-self: stretch;-webkit-align-self: stretch;
  //background-color:red;  //FIXME RED
}
.fp-flex-container{@include fp-flex-container(row,wrap)}
.fp-flex-container-row {@include fp-flex-container(row,wrap)}
.fp-flex-container-column {@include fp-flex-container(column,nowrap)}


.fp-item {
  color:#000;background-color:#fff;/*w3-white*/
  //* {max-width:100%;} //overflow:hidden;
  img {
    border-radius:8px; //w3-round
    &:hover {opacity:0.60;filter:alpha(opacity=60);} //w3-hover-opacity
    max-height:400px; max-width:300px;
  }
  //> *{background-color:YELLOW;} //FIXME YELLOW
}

@mixin fp-flex-item(){
  //background-color: cornflowerblue; FIXME cornflowerblue
  @include flex-order(0);
  * {width:100%;height:auto} //overflow:hidden;
  padding:0.5em 0.5em;
}
.fp-flex-item {
  @include fp-flex-item
  @include break-point(default){width:100%;} //mobile
  @include break-point(minitablet){width:49.99999%}
  @include break-point(tablet){width:33.33333%}
  @include break-point(desktop){width:24.99999%}
}
.fp-flex-item-1pp {
  @include fp-flex-item
  @include break-point(default){max-width:100%;}
}
.fp-80p{
  @include break-point(default){width:100%;} // height:100%
  @include break-point(minitablet){width:80%;} // height:80%
}


.fp-background{
  z-index:-10;
  position:fixed;
  left:0;
  top:0;
  width:100%;
  height:100%;
  overflow:auto;
}
.fp-modal{
  z-index:3;
  display:none;
  padding-top:100px;
  position:fixed;
  left:0;
  top:0;
  width:100%;
  height:100%;
  overflow:auto;
  background-color:rgb(0,0,0);
  background-color:rgba(0,0,0,0.4)
}
//.fp-modal{z-index:3;display:none;padding-top:100px;position:fixed;left:0;top:0;width:100%;height:100%;overflow:auto;background-color:rgb(0,0,0);background-color:rgba(0,0,0,0.4)}
.fp-modal-content{margin:auto;background-color:#fff;position:relative;padding:0;outline:0;width:600px}.w3-closebtn{text-decoration:none;float:right;font-size:24px;font-weight:bold;color:inherit}
//@media (max-width:600px){.w3-modal-content{margin:0 10px;width:auto!important}.w3-modal{padding-top:30px}}
//@media (max-width:768px){.w3-modal-content{width:500px}.w3-modal{padding-top:50px}}
//@media (min-width:993px){.w3-modal-content{width:900px}}

.fp-closebtn{text-decoration:none;font-size:30px;font-weight:bold;color:inherit;
  color: white;
  text-shadow: 2px 2px 4px #000000;
  @include flex-order(-1);
} //float:right //@include @include($val)
.fp-closebtn{-webkit-transition:background-color .3s,color .15s,box-shadow .3s,opacity 0.3s;transition:background-color .3s,color .15s,box-shadow .3s,opacity 0.3s}
.fp-closebtn:hover,.w3-closebtn:focus{color:#FFF;text-decoration:none;cursor:pointer}
